# Find Places Tutorial
This is a completed solution for the [Find Places](https://developers.arcgis.com/labs/python/find-places/) ArcGIS tutorial. 

[ArcGIS tutorials](https://developers.arcgis.com/labs/) are short guides demonstrating the three phases of building geospatial apps: Data, Design, Develop.

**1.** Model a GIS portal and import the geocode function from the ArcGIS API for Python

In [1]:
from arcgis.gis import GIS
from arcgis.geocoding import geocode

**2.** Create an anonymous connection to ArcGIS Online. Since the results are not stored, you do not need credentials to call the geocoding service

In [2]:
gis = GIS()

**3.** Pass the relevant parameters into the geocode function and get the results

In [3]:
geocode_fs = geocode(address=None,
                     location=[-118.71511, 34.09042],
                     category="Coffee shop",
                     out_fields="Place_addr, PlaceName",
                     max_locations=25,
                     as_featureset=True)

**4.** Convert the results to a dataframe and show the first two locations

In [4]:
# use `sdf` not `df` to convert the FeatureSet into a Pandas Dataframe
g_df = geocode_fs.sdf
g_df.head()

,OBJECTID,PlaceName,Place_addr,SHAPE
0,1,Starbucks,"26531 Agoura Rd, Calabasas, California, 91302","{""x"": -118.70110999999997, ""y"": 34.14358000000..."
1,2,Starbucks,"26521 Agoura Rd, Calabasas, California, 91302","{""x"": -118.70023995051699, ""y"": 34.14425002668..."
2,3,Starbucks,"23755 Malibu Rd, Malibu, California, 90265","{""x"": -118.69344999999998, ""y"": 34.03431000000..."
3,4,The Coffee Bean & Tea Leaf,"3835 Cross Creek Rd, Malibu, California, 90265","{""x"": -118.68542004616472, ""y"": 34.03591994503..."
4,5,Starbucks,"3900 Cross Creek Rd, Malibu, California, 90265","{""x"": -118.68528998441938, ""y"": 34.03535004385..."

**5.** Create a map to display the results

In [5]:
g_map = gis.map()
g_map

MapView(layout=Layout(height='400px', width='100%'))

In [6]:
g_map.center = [34.09042, -118.71511]
g_map.zoom = 11

**6.** Once the map has loaded, draw the results

In [7]:
g_map.draw(geocode_fs)